# Virtual environment
venv/
.venv/
env/
Lib/
Scripts/
Include/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*.pyc

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env

# IDE
.vscode/
.idea/